
.gallery-container{
    font-family: "title";
    font-display: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    font-size: 18px;
    background-size: cover;
    background-attachment: fixed;
}

.header-gallery{
    width: 100%;
    text-align: center;
    font-size: 32px;
}

.galeria {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria .perroContainer {
	max-width: 300px;  
	width: 50%;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
	overflow: hidden;
	margin-bottom: 30px;
} 
.galeria .perroContainer img{
	width: 100%;
	vertical-align: top;
	cursor: pointer;
	transition: all .5s ease;
}
.galeria .perroContainer img:hover{
	transform: scale(1.09);
}

figure {
	width: 300px;
	background-color: rgba(0,0,0,0.4);
	margin: 10px 0;
	border: 1px solid #777;
	box-sizing: border-box;
	padding: 10px;
}

figure button{
	background: #942c3c;
    color: #ede8dd;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    transition: all .7s;
}

figure button:hover{
    background: #ede8dd;
    color : #22223d;
}
figure figcaption{
	text-align: center;
	padding: 5px 4px;
    color: aliceblue;
}

@media screen and (max-width: 520px){
	.galeria .perroContainer{
		width: 100%;
	}
}

td{
    color:white;
}

#search-in{
    width:150px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#search-rigth{
    float:right;
}

.estadoPerro{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
}

.filterContainer{
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
}