.cont-body {
    /*background: url(../img/dog-3.jpg)  center;
    background-size: cover;
    background-attachment: fixed;*/
    font-family: "title";
}

.contenedor-form{
    background: #22232d;
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
}
.contenedor-form .toggle {
    margin: 0 auto;
    margin-right: 40px;
    margin-top: 20px;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #942c3c;
    border-bottom: 2px solid #942c3c;
    transition: all .5s ;
    cursor: pointer;
}
.contenedor-form .toggle span {
    letter-spacing: 1px;
    
}
.contenedor-form .toggle:hover{
    border-top: 2px solid #dde4e8;
    border-bottom: 2px solid #dde4e8;
}

.contenedor-form h2{
    margin: 0 0 28px 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}
.contenedor-form label {
   margin: 0 0 28px 0;
    font-weight: 300;
    line-height: 1; 
    text-align: center;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"],
.contenedor-form input[type="number"],
.contenedor-form input[type="date"]{
    outline: none;
    background: rgba(0,0,0,0.5);
    display: block;
    width: 100%;
    padding: 10px 1px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #942c3c;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s;
}

.contenedor-form input[type="text"]:hover,
.contenedor-form input[type="password"]:hover,
.contenedor-form input[type="email"]:hover,
.contenedor-form input[type="number"]:hover,
.contenedor-form input[type="date"]:hover{
    border-bottom: 4px solid #dde4e8;
}
#txtRegion {
    background: rgba(0,0,0,0.5);
    display: block;
    width: 100%;
    padding: 7px ;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    
}
#txtCity {
    background: rgba(0,0,0,0.5);
    display: block;
    width: 100%;
    padding: 7px;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
}
#txtTipoVivienda {
     background: rgba(0,0,0,0.5);
    display: block;
    width: 100%;
    padding: 7px;
    color: #fff;
    font-size: 15px;
    font-weight: normal; 
}
#enviar, #iniciar{
    background: #942c3c;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .7s;
}
#enviar:hover, #iniciar:hover{
    background: #ede8dd;
    color: #22232d;
}

#btn-olvide {
    background: #3365FF;
    width: 100%;
    padding: 15px 0 ;
    text-align: center;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all .8s;
}
#btn-olvide:hover{
    background: #942c3c;
}

.contenedor-form .formulario {
    padding: 40px;
    display: none;
}
.contenedor-form .formulario:nth-child(2){
    display: block;
}